<header class="layout__header">
    <a href="#" class="header__link">
        <div class="header__title">
            <span class="header__text">Incluye Tu Negocio En La Lista</span> 
            <svg class="header__arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M1 12h17"/>
                <path d="m12 5 7 7-7 7"/>
            </svg>
        </div>
    </a>
    <div class="header__img">
        <img src="/img/Booksy.png" alt="" class="header__logo">
    </div>
    <div class="header__search">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
        <input type="text" class="input" placeholder="Buscar servicios o negocios">

    </div>
</header>
